.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;

    &__box {
        text-align: left;
        padding: 1.5rem;
        border-radius: 10px 10px 0 0;
        // background-color: $grey;
        width: 85%;
        margin-bottom: 2rem;
         
        &__info {
        // margin: 3rem 0;

            &__logo {
                width: 125px;
                height: 37px;
            }

            p:first-of-type {
                font-style: italic;
                margin-top: -.2rem;
                font-size: 14px;
            }
        }

        &__screenshots {
            margin-top: 2rem;
        }
    }   
}

@media only screen and (min-device-width: 1025px) {
    .projects {

        &__box {
            // display: inline-block;
            max-width: 800px;
            
            &__info {
                display: inline-block;
                width: 30%;
                vertical-align: middle;
            }

            &__screenshots {
                vertical-align: bottom;
                display: inline-block;
                width: 69%;
            }
        }
    }
}