// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,600;0,700;1,100;1,400&family=Overpass:wght@400;600;700&display=swap');

$text-large: "Overpass", sans-serif;
$text-small: "Montserrat", sans-serif;

// FONT-SIZES
$font-xl-small: 30px;
$font-lg-small: 25px;
$font-md-small: 22px;
$font-sm-small: 18px;
$font-xs-small: 16px;

$font-xl-large: 51px;
$font-lg-large: 33px;
$font-md-large: 24px;


$reduced-heading: calc(100% - 5px); 


// COLORS
$green: #228b22;
$grey: #333;