@import '../../styles/Variables.module.scss';

.heading {
  position: relative;
}

.heading::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 32%;
  right: 0;
  height: 0.5em;
  border-top: 1px solid $color-primary;

  @include tablet-landscape {
    left: 16%;
  }
}


