.nav-hero {
    padding: 1rem 1rem 0 1rem;
    background-image: url("../../../assets/edited/hero_small_750x500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    color: white;
    height: 300px;
    // width: 100%;
    

    &__header {
        display: flex;
        flex-direction: column;
        margin: 3rem 0 0 1rem;

        &__heading {
            margin-bottom: 1rem;

            span {
                font-size: $reduced-heading;
                
            }
        }
    }
}