.nav-hero {
    padding: 1rem 1rem 0 1rem;
    background-image: url("../assets/edited/hero_small_750x500-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    color: white;
    height: 510px;
    position: relative;
    

    &__header {
        display: flex;
        flex-direction: column;
        margin: 5rem 0 0;

        &__heading {
            margin: 0 auto 1.5rem;

            span {
                font-size: $reduced-heading;
            }
        }

        &__content {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 1rem auto;
        }

        &__nav-menu {
            display: flex;
            justify-content: center;

            a {
                margin: 0 3%;
                padding: .5rem;
                border-bottom: none;
            }

            a:hover {
                background: $green;   
            }
        }
    }
    &__contact {
        text-align: center;

        button {
            margin-top: 1rem;
        }
    }

    &__hamburger {
        display: flex;
        text-align: center;
        flex-direction: column;
        font-size: 30px;
        margin-top: 1.5rem;
    }
}

@media only screen and (min-device-width: 769px) {
   
    .nav-hero {
        background-image: url("../assets/edited/hero_large-02.jpg");
        background-position: bottom;

        &__header {
            margin: 7rem auto 0;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            width: 90%;

            &__heading {
                flex: 1;
            }

            &__content {

                h2 {
                    margin-bottom: 0;
                }
            }
            
            
            &__nav-menu {
                left: 2rem;

                a {
                    margin: 0 7%;
                }
            }
        }
        
        &__contact {
            margin-top: 3rem;

            a {
                border: none;
            }
        }

        &__hamburger {
            display: none;
        }
    }   
}

@media only screen and (min-device-width: 1200px) {
    .nav-hero {
        height: 700px;

         &__header {
            margin-top: 10rem;
            

            &__content {
                margin: 2rem 0 0 15rem;
            }            
        }
    }
}

