.nav-hero {
    padding: 1rem 1rem 0 1rem;
    background-image: url("../../../assets/edited/hero_small_750x500.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom right;
    color: white;
    height: 510px;
    position: relative;
    

    &__header {
        display: flex;
        flex-direction: column;
        margin: 5rem 0 0;

        &__heading {
            margin: 0 auto 1.5rem;

            span {
                font-size: $reduced-heading;
                
            }
        }

        &__content {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin: 1rem auto;
            
            
            &__title:last-of-type {
                margin: 0 auto;

                button {
                    margin-top: 2rem;
                }
            }

            &__title h2:nth-child(2) {
                text-align: center;
            }
        }

        &__hamburger {
            display: flex;
            text-align: center;
            flex-direction: column;
            font-size: 30px;
            margin-top: 1.5rem;
        }

        &__nav-menu {
            display: flex;
            justify-content: center;
            margin-top: 1rem;

            a {
                margin: 0 .7rem;
                border-bottom: none;
            }
        }
    }
}